.personal-projects {
  .content {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;

    margin-top: 1rem;
    border: 1px solid $silver-chalice;
    border-radius: 5px;
    padding: 1rem 0.5rem;
    background-color: $linen;

    .card {
      width: min(100%, 350px);
      color: $tuna;
    }
  }
}
