.projects-showcase {
  .content {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    margin-bottom: 20px;

    margin-top: 1rem;
    border: 1px solid $silver-chalice;
    border-radius: 5px;
    padding: 1rem 0.5rem;
    background-color: $linen;

    @import './project-card';
    @import './tutorial-card';
  }
}
