.about-page {
  font-family: Consolas, 'Courier New', monospace;
  text-indent: 1rem;

  .bigger {
    display: block;
    color: $silver;

    font-size: 1.1rem;
    font-weight: bold;

    margin-top: 1.5rem;

    &.has-arrow {
      &::before {
        content: '>';
        margin-right: 10px;
      }
    }
  }

  .info-text {
    h2 {
      font-weight: bold;
      font-size: 1.25em;

      color: $puerto-rico;
      max-width: 50ch;
    }

    p {
      color: $silver;
    }

    .story {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      position: relative;
      max-height: 10ch;
      max-width: 80ch;
      overflow: hidden;

      border: solid 1px $silver;
      padding: 0.5rem;
      border-radius: 0.25rem;

      -webkit-box-shadow: inset 0px -3ch 31px -15px $silver;
      -moz-box-shadow: inset 0px -3ch 31px -15px $silver;
      box-shadow: inset 0px -3ch 2.5ch -3ch $silver;

      &.full {
        max-height: unset;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        padding-bottom: 2.5rem;

        .control {
          rotate: 270deg;
        }

        .info {
          display: none;
        }
      }

      .control {
        position: absolute;
        display: block;

        bottom: 0.5rem;
        left: calc(50% - 15px);

        height: 30px;
        aspect-ratio: 1/1;
        background: $silver;
        border-radius: 50%;

        background-image: url('./../../images/arrow-forward-ios.svg');
        background-position: center;
        background-repeat: no-repeat;

        rotate: 90deg;

        cursor: pointer;
        transition: all ease 0.5s;
      }

      .info {
        cursor: default;
        position: absolute;
        display: block;

        bottom: 0.75rem;
        right: 0.25rem;
        font-size: 0.75rem;
      }
    }
  }

  .technologies {
    max-width: 80ch;

    .spotlight {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      overflow: hidden;

      box-shadow: inset 0px 0px 150px $tuna;
      border-radius: 0.25rem;

      background: repeating-conic-gradient(
            from 90deg at 95% 55%,
            $tuna 0% 25%,
            transparent 0% 100%
          )
          50% / calc(1vmax * 2.5) calc(1vmax * 2.5),
        repeating-linear-gradient(
            180deg,
            $tuna 0 5%,
            transparent 0 50%,
            $tuna 0 55%,
            $nutmeg 0 100%
          )
          50% / calc(1vmax * 5) calc(1vmax * 2.5),
        repeating-linear-gradient(
            90deg,
            $pickled-bean 0 47.5%,
            $tuna 0 50%,
            $pickled-bean 0 97.5%,
            $tuna 0 100%
          )
          50% / calc(1vmax * 5) calc(1vmax * 2.5);
    }
  }
}
