.home-page {
  font-family: Consolas, 'Courier New', monospace;

  margin-top: 16px;

  counter-reset: line-number;
  position: relative;

  > * {
    margin-left: 7ch;

    font-size: 14px;
    line-height: 19px;
    min-height: 19px;
  }

  .line {
    &::before {
      counter-increment: line-number;
      content: counter(line-number);

      color: $pale-sky;
      text-align: right;

      position: absolute;
      left: 0;
      width: 2ch;
      margin-inline: 2.5ch;
    }
  }

  .indented {
    padding-left: 15px;
    border-left: solid 1px rgba($pale-sky, 0.65);
  }
}
