nav.navigation {
  font-family: Segoe WPC, Segoe UI, sans-serif;

  background-color: $cod-gray;

  @include breakpoint(md) {
    display: flex;
    justify-content: space-between;
  }

  nav {
    &.links {
      overflow-x: auto;
      display: flex;
      border-top: solid 1px $mine-shaft;
      border-bottom-color: transparent;

      &::-webkit-scrollbar {
        display: none;
      }

      a {
        font-size: 13px;

        color: $silver-chalice;
        text-decoration: none;

        cursor: pointer;

        display: flex;
        align-items: center;
        padding: 8px;
        padding-right: 24px;

        border-bottom: solid 1px $mine-shaft;
        border-right: solid 1px $mine-shaft;
        border-top: solid 1px transparent;

        &::before {
          content: '';
          background-image: url('./../../images/react-logo.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;

          width: 12px;
          height: 12px;
          margin-right: 6px;
        }

        &:hover {
          background-color: $mine-shaft2;
        }

        &.active {
          background-color: $mine-shaft2;
          border-top-color: $lochmara;
          border-bottom-color: $mine-shaft2;
        }
      }
    }
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > svg {
      height: 24px;
      width: auto;
      cursor: pointer;
      margin-inline: 3px;
      padding: 3px;

      cursor: pointer;

      &:hover {
        background-color: $mine-shaft2;
        border-radius: 3px;
      }
    }
  }
}
